.clipboard_button {
    background-image: url(/assets/img/clippy.svg);
    background-repeat: no-repeat;
    float: right;
    margin: 5px 10px;
    width: 25px!important;
    height: 25px!important;
    background-size: contain;
    border: 1px solid #d5d5d5;
    vertical-align: middle;
}
