<dialog id="citation-dialog">

    <header>
        <h1 class="dialog-header">Export Citation</h1>
          <div align="right">
            <button id="close-citation-dialog-button" class="close-button md-icon" autofocus>&#x2716</button>
          </div>
    </header>
    <div class="md-typeset highlight">
      <pre>
        <code id= "citation">
          {% raw %}
@article{fieni-2024,
TITLE = {{PowerAPI: A Python framework for building software-defined power meters}},
AUTHOR = {Fieni, Guillaume and Acero, Daniel Romero and Rust, Pierre and Rouvoy, Romain},
URL = {https://hal.science/hal-04601379},
JOURNAL = {{Journal of Open Source Software}},
PUBLISHER = {{Open Journals}},
VOLUME = {9},
NUMBER = {98},
PAGES = {6670},
YEAR = {2024},
MONTH = Jun,
DOI = {10.21105/joss.06670},
KEYWORDS = {Power ; Energy ; Toolkit ; Measurement ; Framework},
PDF = {https://hal.science/hal-04601379/file/10.21105.joss.06670-3.pdf},
HAL_ID = {hal-04601379},
HAL_VERSION = {v1},
}
          {% endraw %}
          </code>
              <!--button class="md-clipboard md-icon" title="Copy to clipboard" data-clipboard-target="#citation > code"></button-->
      </pre>
    </div>
      <a ref="#" id="copy-citation-dialog-button" title="Copy citation" class="md-clipboard md-icon">
      </a>


</dialog>
